{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tags_index'|trans }}
{% endblock %}

{% block body %}
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        {#{% if not tag.tasks|length %}#}
        {#<a href="{{ url('category_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">#}
        {#{{ 'action.delete'|trans }}#}
        {#</a>#}
        {#{% endif %}#}
        <a class="space" href="{{ url('type_new') }}">
        <div class ="add-category-button">

           {{ 'message.add_type'|trans }}
        </div>
        </a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 't.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 't.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 't.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.tagName'|trans, 't.title') }}</th>

                <th>{{ 'label.actions'|trans }}</th>
                <th>{{ 'label.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for type in pagination %}
                {#{% if tag.owner == user %}#}
                <tr>
                    <td>{{ type.id }}</td>
                    <td>{{ type.createdAt|localizeddate }}</td>
                    <td>{{ type.updatedAt|localizeddate }}</td>
                    <td>{{ type.typeTitle }}</td>

                    <td>
                        <a href="{{ url('type_edit', {id: type.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        {% if not type.transactions|length %}
                            <a href="{{ url('type_delete', {id: type.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% else %}
                            <p>Nie możesz usunąć tego tagu.</p>
                        {% endif %}
                    </td>
                </tr>
                {#{% endif %}#}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
        <a href="{{ url('tag_new') }}">
            <div class ="add-category-button">

                {{ 'message.add_tag'|trans }}
            </div>
        </a>
    {% endif %}
{% endblock %}