{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_list'|trans({'%id%': category.id}) }}
{% endblock %}

{% block body %}
    {#<h1>{{ 'title.task_list'|trans({'%id%': task.id|default('')}) }}</h1>#}
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|localizeddate }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|localizeddate }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  category.categoryTitle }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.categoryTitle|trans }}</dd>
        </dl>
    {#{% else %}#}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {#{% endif %}#}
{% endblock %}