<nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
            <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            </span>
        <a class="topbar-responsive-logo" href="#"><strong>{{ 'page.title'|trans }}</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_ADMIN') %}
                    <li><a href="#">Panel admina</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ url("dashboard")}}">{{ app.user.firstName }}</a></li>
                <li><a href="{{ url("user_edit", {id:app.user.id})}}">Moje konto</a></li>

                <li><a href="{{ url("tag_index")}}">Tagi</a></li>
                <li><a href="{{ url("transaction_index")}}">Transakcje</a></li>
                <li><a href="#">Contact</a></li>
                    <li><a href="{{ url('security_logout') }}">Wyloguj się</a></li>
                {% endif %}

                {#<li>#}
                {#<button type="button" class="button hollow topbar-responsive-button"><a href="{{ url("category_index")}}">Categories</a></button>#}
                {#</li>#}
            </ul>
        </div>
    </div>
</nav>