{% extends 'base.html.twig' %}

{% block body %}

    <h2>Co chcesz zrobić?</h2>

    <a href="{{ url('password_change', {id: user.id}) }}">
        <div class ="add-category-button">

            {{ 'message.change_password'|trans }}
        </div>
    </a>

    <a href="{{ url('email_edit', {id: user.id}) }}">
        <div class ="add-category-button">

            {{ 'message.change_email'|trans }}
        </div>
    </a>
    <a href="{{ url('role_edit', {id: user.id}) }}">
        <div class ="add-category-button">

            {{ 'message.change_role'|trans }}
        </div>
    </a>

{% endblock %}