<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('pl') }}">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/foundation.css")}}"/>
            <link rel="stylesheet" href="{{ asset("css/app.css")}}"/>

        {% endblock %}
    </head>
{% endblock %}
<body>
<nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
            <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            </span>
        <a class="topbar-responsive-logo" href="#"><strong>{{ 'page.title'|trans }}</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
                <li><a href="{{ url("app_user_index")}}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <button type="button" class="button hollow topbar-responsive-button"><a href="{{ url("category_index")}}">Categories</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>
{#<div class="content">#}

{% include 'default/flash_messages.html.twig' %}
{% block body %}
{% endblock %}
{#</div>#}
<footer class="mobile-bottom-bar">
<p class='footer-text'> ©Patrycja Nowak. Projekt zaliczeniowy ZTP</p>
</footer>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="{{ asset("js/vendor/jquery.js")}}"></script>
    <script src="{{ asset("js/vendor/what-input.js")}}"></script>
    <script src="{{ asset("js/vendor/foundation.js")}}"></script>
    <script src="{{ asset("js/app.js")}}"></script>
{% endblock %}
</body>
</html>

