<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('pl') }}">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/foundation.css")}}"/>
            <link rel="stylesheet" href="{{ asset("css/app.css")}}"/>

        {% endblock %}
    </head>
{% endblock %}
<body>
{% include 'default/navbar.html.twig' %}
{#<div class="content">#}


{% include 'default/flash_messages.html.twig' %}
{% block body %}
{% endblock %}
{#</div>#}
{#<footer class="mobile-bottom-bar">#}
{#<p class='footer-text'> ©Patrycja Nowak. Projekt zaliczeniowy ZTP</p>#}
{#</footer>#}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js.map"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="{{ asset("js/vendor/jquery.js")}}"></script>
    <script src="{{ asset("js/vendor/what-input.js")}}"></script>
    <script src="{{ asset("js/vendor/foundation.js")}}"></script>
    <script src="{{ asset("js/app.js")}}"></script>
    <script src="{{ asset("js/chart.js")}}"></script>
    <script src="{{ asset("js/GeneralChart.js")}}"></script>
{% endblock %}
</body>
</html>

