{% extends 'base.html.twig' %}

{% block title %}

    {{ 'title.user_dashboard'|trans }}

{% endblock %}

{% block body %}

    {% set result= income - expense %}
    <h1>{{ 'label.balance' }} {{ result }}</h1>
    <canvas id="generalChart" width=30% height=7%></canvas>
    <div class="container">
        <br>
    <p>{{ 'message.my_expenses'|trans }}: {{ expense|default('0') }} zł  </p>       <a href="{{ url('transaction_expenses') }}">
            <button class ="confirm">

                {{ 'message.see_expenses'|trans }}
            </button>
        </a>

    <p>{{ 'message.my_incomes'|trans }}: {{ income|default('0') }} zł</p> <a href="{{ url('transaction_incomes') }}">
            <button class ="confirm">

                {{ 'message.see_incomes'|trans }}
            </button>
        </a>

    </div>
<script>
        var expense = {{ expense|json_encode|raw }};
        var income = {{ income|json_encode|raw }};
        var texpense = {{ 'expense'|trans|json_encode|raw }};
        var tincome = {{ 'income'|trans|json_encode|raw }};

</script>

{% endblock %}
